#boardWrap { width: 70%; margin: 0 auto;}
#boardWrap #boardList a {float:right; margin: 0;}
#boardWrap #searchBar {display: flex; justify-content: center; margin-top: 80px; gap:5px;}
#boardWrap #searchBar select {width: 15%; }
#boardWrap #searchBar input {width: 40%; }
#boardWrap #searchBar button {width: 80px; }
#boardWrap #boardPagi{display:flex; justify-content: center; margin-top: 15px;}