#boardWrite {width: 50%; height:100%; margin: 0 auto; min-width: 700px;}
#boardWrite #subject{display: flex; }
#boardWrite #subject input{width: 40%; margin-left: 10px;}
#boardWrite #writeBtn{display: flex; justify-content: right; margin-top: 80px; gap: 10px;}