#join { width: 50%; margin: 0 auto; min-width: 680px;} 
#join #join-box{ width:50%; margin: 10px auto; }
#join #join-box .row{ flex-wrap: nowrap; }
#join #join-box .form-label{ width: 7rem; }
#join #join-box .form-control{ width: 16rem; }
#join #join-box .col-sm-5{ padding : 0px; }
#join #join-box button{ margin-left: 10px; width: 30px; }
#join #join-box label{ text-align: left; }
#join #join-box input{ width: 100%; }
#join #join-box input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; }
#join #join-box #address { display:flex; }
#join #join-box #address .zipcode { width: 8rem;}
#join #join-box #address button { width: 5rem; margin-left: 3rem;}
#join #join-box #addressInput { margin-left: 7em;}
#join #joinBtn { display: flex; gap: 10px; margin-top: 20px; margin-left: 11.5rem;}
#join #joinBtn button{ width: 80px; }
