#nearby{ width: 50%; margin: 0 auto; min-width: 700px;}
#nearby .map-area .zoom{float: right;}
#nearby .map-area button{border: 1px solid transparent; background-color: transparent; padding: 3px;}

#nearby .overlay-popup{background-color: #ffffffcc; box-shadow: 0 0 8px #0000004d, 0 0 1px 2px #00000022; max-width: 200px; min-width: 160px; position: absolute; bottom:40px; right: -80px;}
#nearby .overlay-popup h3{margin:0; padding: 8px; background-color: rgb(148, 180, 84); color: white; font-weight: 400; font-size: 16px;}
#nearby .overlay-popup div{padding: 8px; white-space: break-spaces;}
#nearby .overlay-popup a{color:black; position: absolute; top: 0; left: 100%; transform: translate(-50%, -50%); background-color: white; border-radius: 100%; line-height: 0; box-shadow: 0 0 6px black; }

#nearby .harbors { display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; margin: 0 auto; width:100%}
#nearby .harbors .harbor {width: 90%; list-style: none; padding: 10px 10px; margin: 10px; border: 1px solid lightgray; box-shadow: yellowgreen 0px 2px 2px 0px; border-radius: 10px; cursor: pointer; padding: 0;} 
#nearby .harbors .harbor :hover{ cursor: pointer;}
#nearby .harbors .harbor :active{ background-color: rgb(148, 180, 84); cursor: pointer;}
#nearby .harbors .active{ background-color: yellowgreen; color:white; cursor: pointer;}

#nearby .input-container { display: flex; justify-content: center; background: #e5e5e5; padding: 10px ; }
#nearby .input-container select{width: 120px; font-size: 10px;}
#nearby .input-container button{margin-left: 10px;}
#nearby .reply-input { margin-right: 10px; resize: none }

#nearby .reply{ display:flex; font-weight: bold; margin: 20px 0;}
#nearby .reviewsWrap{ display: flex;  width: 100%; border-bottom: 1px solid pink;}
#nearby .reviews-members-header{ display: flex; justify-content: space-between; text-align: left;}
#nearby .reviews-members-header h6{ font-size: 14px; font-weight: bold;}
#nearby .reviews-members-header .text-gray{ font-size: 10px; color: gray; margin: 0px;}
#nearby .reviews-members-body{ text-align: left; font-size: 14px;}
#nearby .review-members-btn{ float: left; }
#nearby .mBtn{ margin-right: 5px;}

