#workout {width:50%; height:100%; margin: 0 auto; min-width: 700px; padding: 15px;}
#workout #workoutListNav{ display: flex; width: 75%; margin: 0 auto;}
#workout #workoutListNav .btn{margin: 0 3px 5px 5px; width: 60px;}
#workout #workoutListNav #add{ margin-left: auto; }
#workout hr{ margin-bottom: 1rem;}
#workout #WorkoutCard { display: flex; width: 80%; margin: 0 auto; justify-content: center;}
#workout #WorkoutCard .row{ width: 100%;}
#workout #addBtn { width: 75%; margin: 30px 0;}