#workoutDetail { width: 70%; margin: 0 auto;}
#workoutDetail img { width: 40%; }
#workoutDetail #detail label{ width: 20%; }
#workoutDetail #detail { display: flex; justify-content: left; }
#workoutDetail #detail #category{ display: flex; text-align: left; }
#workoutDetail #detail #wokroutName{ display: flex; text-align: left;}
#workoutDetail #detail #explain{ display: flex; text-align: left; }
#workoutDetail #detail .workoutItem{ width: 50%; border-bottom: 1px solid red; }
#workoutDetail #detail .workoutExplain{ width: 100%; height: 12rem; border-bottom: 1px solid red; }
#workoutDetail #detailWrap { width: 100%; margin-left: 10px;}
#workoutDetail button { float: right; margin-top: 20px; margin-left: 5px;}