#workoutCreate { width: 70%; margin: 0 auto;}
#workoutCreate #Create { display: flex; justify-content: left; }
#workoutCreate #Create #category{ display: flex; text-align: left; }
#workoutCreate #Create #wokroutName{ display: flex; text-align: left;}
#workoutCreate #Create #explain{ display: flex; text-align: left; }
#workoutCreate #Create #explain textarea{ height:100%; }
#workoutCreate #Create label{ width: 20%; }
#workoutCreate #Create input{ width: 50%; }
#workoutCreate img { width: 40%; }
#workoutCreate #createWrap { width: 100%; margin-left: 10px;}
#workoutCreate #insert {margin-top: 20px; display: flex; width: 100%; justify-content: space-between}
#workoutCreate #insert input{ width: 40%; }
#workoutCreate #insert #intertBtn button{padding: 10px;}