#workoutList{width:70%; height:100%; margin: 0 auto;}
#workoutList #workoutListNav{ display: flex; width: 100%; margin: 3px;}
#workoutList #workoutListNav button{margin-right: 3px; width: 60px;}
#workoutList #WorkoutCard { display: flex; width: 100%;}
#workoutList #WorkoutCard .card{ padding: 3px; border-color: aliceblue;}
