* {margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif;}
html, body {width:100vw; height:100%;}
#list {display: flex; padding: 20px; max-width: 100%;}
#list table tbody tr:hover{ background-color: pink; }