#table {width: 100%;}
#table table {width:100%;padding:10px;table-layout: fixed;border-collapse: collapse;}
#table table .col1 {width:30%}
#table table .col2 {width:17.5%}
#table table .col3 {width:17.5%}
#table table .col4 {width:17.5%}
#table table .col5 {width:auto;}