#workoutCreate {min-width: 700px;}
#workoutCreate { width: 50%; margin: 0 auto;}
#workoutCreate #Create { display: flex; justify-content: left; }
#workoutCreate #Create #category{ display: flex; text-align: left; }
#workoutCreate #Create #category select{ width: 42%; }
#workoutCreate #Create #wokroutName{ display: flex; text-align: left;}
#workoutCreate #Create #explain{ display: flex; text-align: left; }
#workoutCreate #Create #explain textarea{ height:100%; }
#workoutCreate #Create img { width: 300px; height: 300px;}
#workoutCreate #Create label{ width: 20%; }
#workoutCreate #Create input{ width: 50%; }
#workoutCreate #createWrap { width: 100%; margin-left: 10px;}
#workoutCreate #createWrap #category{ display: flex; text-align: left; margin-bottom: 10px;}
#workoutCreate #createWrap #woName{ display: flex; text-align: left; margin-bottom: 10px;}
#workoutCreate #createWrap #woContent{ display: flex; text-align: left;}
#workoutCreate #createWrap #woContent textarea{ resize: none;}
#workoutCreate #fileUpload { display: flex;}
#workoutCreate #fileUpload .name { margin-left: 10px;}
#workoutCreate #fileUpload .filebox label { display: inline-block; padding: .25em .5em; color: white; font-size: inherit; line-height: normal; vertical-align: middle; background-color: #2655bb; cursor: pointer; border: 1px solid #ebebeb; border-bottom-color: #e2e2e2; border-radius: .25em; }
#workoutCreate #fileUpload .filebox input[type="file"] { position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip:rect(0,0,0,0);border: 0;}
#workoutCreate #insert #insertBtn button{margin-left: 5px;}
#workoutCreate #insert {margin-top: 20px; display: flex; width: 100%; justify-content: space-between}
#workoutCreate #deleteImage{ display:flex; margin-top: 3px; width: 300px; justify-content: center;}
